* {
  box-sizing: border-box;
}

.display-container {
  width: 10rem;
  height: 3rem;
  border: 2px solid red;
}

.ac-row-container {
  width: 10rem;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
}

.sevenStarter-row-container {
  width: 10rem;
  border: 2px solid red;
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
}

.fourStarter-row-container {
  width: 10rem;
  border: 2px solid red;
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
}

.oneStarter-row-container {
  width: 10rem;
  border: 2px solid red;
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
}

/* #ac {
    color: red;
} */
[id="7"] {
  /* color: red; */
}

.zeroStarter-row-container {
  width: 10rem;
  border: 2px solid red;
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
}
